@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Customize your main colors in :root variables */

:root {
    --main-background-color: #77f5cb98;
    --card-background-color: #4e4d4d;
    --card-background-lighter-color: #0000007a;
    --main-text-color: #cecece;
    --title-text-color: #036e45;
    --topnav-text-color: #0d0e0d;
}




body {
    margin-top: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0f0127;
    color: #7e7c7c;
    text-shadow: 0 10 10px #1bfd8c, 0 10 10px #ff00d4
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

h2,
p {
    color: var(--main-text-color);
}

h3 {
    font-weight: normal;
}




/* Candy Shop styling overrides */

.css-1wewypr {
    color: black;
}

.css-1ago99h {
    color: black;
}
