@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Customize your main colors in :root variables */

:root {
    --main-background-color: #77f5cb98;
    --card-background-color: #999898;
    --card-background-lighter-color: #0000007a;
    --main-text-color: #000000;
    --title-text-color: #970d6e;
}

body {
    /*background-color: var(--main-background-color);
  background: url('img/background.png');
  background-size: cover;*/
    margin-top: 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffffd7;
    color: #000000;
    text-shadow: 0 0 3px #1bfd8c, 0 0 5px #ff00d4
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

h2,
p {
    color: var(--main-text-color);
}

h3 {
    font-weight: normal;
}


/* Candy Shop styling overrides */

.css-1wewypr {
    color: black;
}

.css-1ago99h {
    color: black;
}