@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Customize your main colors in :root variables */
:root {
  --main-background-color: #18191a;
  --card-background-color: #309b72;
  --card-background-lighter-color: #ec59aa;
  --main-text-color: #f7f6f4;
  --title-text-color: #feffff;
}

body {
  background-color: var(--main-background-color);
  background: url('img/background.png');
  background-size: cover; 

  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}
